<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Решения | VerduraX</title>
    <link rel='icon' href='../../static/horoscope/img/загруженное.png'>
    {% load static %}
    <link rel="stylesheet" href=" {% static 'horoscope/css/solutions.css' %}">
    <script src='{% static 'horoscope/js/solutions.js' %}'></script>
    
</head>
<body>
    <div class='container'>
        <!-- Шапка с навигатором -->
        <header>
            <nav class="navbar">
                <a href='/'>VerduraX</a>
                <a href="/about">О нас</a>
                <a href="/solutions">Решения</a>
                <a href="/news">Новости</a>
                <a href="/registration">Регистрация</a>
                <a href="/login"><p>Вход<p></a>
            </nav>
            <div class='header_h'>
                <h1>Наши решения для устойчивого будущего</h1>
                <img src='../../static/horoscope/img/photo.png' alt='Энергии' class='img_header'/>
            </div>
        </header>

        <section class='news'>
            <hr>
            <h1>Решения</h1>

            <div class='container1'>
                <div class='News n1'>
                    <div class='data'><p>01.01.24 - 01.01.25</p></div>
                    <h4>Решение нехватки энергии в удалённых районах</h4>
                    <hr>
                    <p class='p'>Разрабатываем системы сбора, переработки и вторичного использования литий-ионных батарей, уменьшая экологический след. Решает проблему переработки батарей!</p>
                    <button class='openPaymentModal'>Поддержать(деньгами)</button>
                </div>

                <div class='News n2'>
                    <div class='data'><p>01.01.24 - 01.01.25</p></div>
                    <h4>Оптимизация энергопотребления для бизнеса</h4>
                    <hr>
                    <p class='p'>Внедряем умные сети (Smart Grid), которые помогают предприятиям снизить затраты на электроэнергию и управлять энергопотреблением в реальном времени.</p>
                    <button class='openPaymentModal'>Поддержать(деньгами)</button>
                </div>

                <div class='News n3'>
                    <div class='data'><p>01.01.24 - 01.01.25</p></div>
                    <h4>Энергоэффективные технологии для дома</h4>
                    <hr>
                    <p class='p'>Устанавливаем солнечные батареи и системы накопления энергии, которые снижают расходы на электричество и обеспечивают автономность.‍
                        Энергоэффективно!</p>
                    <button class='openPaymentModal'>Поддержать(деньгами)</button>
                </div>
            </div>

            <div class='container2'>
                <div class='News n4'>
                    <div class='data'><p>01.01.24 - 01.01.25</p></div>
                    <h4>Решение проблемы переработки батарей</h4>
                    <hr>
                    <p class='p'>Разрабатываем системы сбора, переработки и вторичного использования литий-ионных батарей, уменьшая экологический след. Решает проблему переработки батарей!</p>
                    <button class='openPaymentModal'>Поддержать(деньгами)</button>
                </div>

                <div class='News n5'>
                    <div class='data'><p>01.01.24 - 01.01.25</p></div>
                    <h4>Стабильное энергоснабжение на производствах‍</h4>
                    <hr>
                    <p class='p'>Предлагаем гибридные энергосистемы (солнечная энергия + традиционная), которые работают бесперебойно даже при пиковых нагрузках. Восстоновим стабильность!</p>
                    <button class='openPaymentModal'>Поддержать(деньгами)</button>

                </div>

                <div class='News n6'>
                    <div class='data'><p>01.01.24 - 01.01.25</p></div>
                    <h4>Улучшение энергоинфраструктуры в городах‍</h4>
                    <hr>
                    <p class='p'>Модернизируем городские электрические сети для интеграции возобновляемых источников, повышая их надёжность и эффективность. Улучшим энергоинфраструктуры в городах!</p>
                    <button class='openPaymentModal'>Поддержать(деньгами)</button>
                </div>
            </div>
            <button class='all'>Показать ещё решения</button>
        </section>
        <footer class="footer">
            <h2 class='VERDURAX'>VerduraX</h2>
            <hr>
            <div class='footer_all'>
                <div class='other'>
                    <h4>Прочее</h4>
                    <ul>
                        <li><a href='/about'>О нас</a></li>
                        <li><a href='/solutions'>Решения</a></li>
                        <li><a href='/news'>Новости</a></li>
                    </ul>
                </div>
                <div class='support'>
                    <h4>Поддержка</h4>
                    <a href='#'>+ 7 (495) 777-33-11</a>
                    <a href='#'>news@vareduraX.com</a>
                    <a href='#'>support@verdurax.com</a>
                </div>
                <div class='orenq'>
                    <p>Пожалуйста, ознакомтьтесь с нашими 
                        <a href='#'>Условиями использования</a> и
                        <a href='#'>Политикой конфиденциальности</a></p>
                </div>
                <div class='leng'>
                    <h4>Язык/Lenguage</h4>
                    <ul>
                        <li class='ru'><a href='#'>Русский</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class='bottom_footer'>
                <div class='VERDURAX2'>
                    <h4>VerduraX</h4>
                </div>
                <div class='created'>
                    <p>© 2024 Сrtated by Eric and David</p>
                </div>
                <div class='photos'>
                    <a href='#'><img src='../../static/horoscope/img/icon1.png' alt=''></a>
                    <a href='#'><img src='../../static/horoscope/img/icon2.png' alt=''></a>
                    <a href='#'><img src='../../static/horoscope/img/icon3.png' alt=''></a>
                    <a href='#'><img src='../../static/horoscope/img/icon4.png' alt=''></a>
                    <a href='#'><img src='../../static/horoscope/img/icon5.png' alt=''></a>
                </div>
            </div>
        </footer>
    </div>
    
    <div id="paymentModal" class="modal">
        <div class="modal-content">
        <span id="closeModal" class="close">&times;</span>
        <h2>Выберите способ оплаты:</h2>
        <ul class='ul'>
            <li class='li'>РФ Банк</li>
            <li class='li'>PayPal</li>
            <li class='li'>Номер телефона +7 (999) 123-45-67</li>
        </ul>
        </div>
    </div>
    <script src='{% static 'horoscope/js/all.js' %}'></script>
</body>
</html>