<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас | VerduraX</title>
    <link rel='icon' href='../../static/horoscope/img/загруженное.png'>
    {% load static %}
    <link rel="stylesheet" href=" {% static 'horoscope/css/about.css' %}">
    <script src='{% static 'horoscope/js/about.js' %}'></script>
    <script src='{% static 'horoscope/js/all.js' %}'></script>
</head>
<body>
    <div class='container'>
        <!-- Шапка с навигатором -->
        <header>
            <nav class="navbar">
                <a href='/'>VerduraX</a>
                <a href="/about">О нас</a>
                <a href="/solutions">Решения</a>
                <a href="/news">Новости</a>
                <a href="/contacts">Контакты</a>
            </nav>
            <div class='header_h'>
                <h1>Кто мы?</h1>
                <img src='../../static/horoscope/img/about.png' alt='Энергии' class='img_header'/>
            </div>
        </header>

        <!-- Раздел Новости -->
        <section class="news">
            <hr class='n1'>
            <h2 class='NEWS'>Что мы делаем</h2>
            <div class='news_all'>
                <div class='news_n1'>
                    <div class='news1'>
                        <p class='news_more'>• Объединяем сообщество:<br>

                            Создаем платформу для обмена опытом, знаниями и лучшими практиками в области ВИЭ. Здесь вы найдете информацию о последних технологиях, проектах и политике в сфере возобновляемых источников энергии.</p>
                    </div>
                    <div class='news1'>
                        <p class='news_more'>• Объединяем сообщество:<br>

                            Создаем платформу для обмена опытом, знаниями и лучшими практиками в области ВИЭ. Здесь вы найдете информацию о последних технологиях, проектах и политике в сфере возобновляемых источников энергии.</p>
                    </div>
                </div>
                <div class='circle n1'></div>
                <div class='circle n2'></div>
                <div class='news_n2'>
                    <div class='news1'>
                        <p class='news_more'>• Поддерживаем инновации: <br>

                            Мы помогаем стартапам и компаниям в сфере ВИЭ получить доступ к инвестициям и развитию, способствуя внедрению новых технологий и решений.</p>
                    </div>
                    <div class='news1'>
                        <p class='news_more'>• Создаем связи: <br>

                            Мы помогаем специалистам, компаниям и инвесторам найти друг друга и сотрудничать в проектах по развитию ВИЭ.</p>
                    </div>
                </div>
            </div>
            <hr class='n2'>
        </section>

        <!-- Раздел Наши ценности -->
        <section class="team">
            <h2 class='TEAM'>Наши ценности</h2>
            <div class='team_all'>
                <div class='team1 n1'>
                    <p>• Устойчивость: <br>

                        наш проект посвящен поддержке и популяризации возобновляемых источников энергии, снижению вредного воздействия на окружающую среду и сохранению ресурсов. Мы предлагаем пользователям изучать экологические решения, делиться идеями и поддерживать проекты для улучшения экосистемы. Вместе мы делаем шаги к устойчивому будущему. Создавая экологическую осознанность, мы вдохновляем общество действовать на благо планеты и участвовать в экологических инициативах.</p>
                </div>
                <div class='team1 n2'>
                    <p>• Инновации: <br>

                        наш проект использует современные технологии для популяризации возобновляемых источников энергии и экологических решений. Мы стремимся внедрять новаторские подходы к взаимодействию пользователей с платформой, создавая удобные и эффективные инструменты. Инновации помогают привлечь внимание к актуальным проблемам и вдохновляют на позитивные изменения. стимулируя развитие устойчивых технологий и вдохновляя на позитивные изменения в экосистеме.</p>
                </div>
                <div class='team1 n3'>
                    <p>• Сотрудничество: <br>

                        мы строим партнерские отношения с организациями, экспертами и активистами для продвижения возобновляемых источников энергии. Сотрудничая с различными компаниями, научными учреждениями и экологическими инициативами, мы расширяем влияние проекта, обмениваемся опытом и знаниями, создаем совместные проекты и более эффективные решения для устойчивого будущего. внедряем инновации и разрабатываем совместные стратегии для улучшения экологической ситуации и устойчивого развития.</p>
                </div>
            </div>
            <div class='we_team'>
                <img src='../../static/horoscope/img/team.png' alt='we Team'/>
                <p>Мы команда! И вместе мы стремимся создать будущее, в котором возобновляемые источники энергии станут основой для устойчивого развития и благополучия планеты. Мы уверены, что только совместными усилиями, с объединением знаний, технологий и ресурсов, мы сможем преодолеть экологические вызовы и построить более чистый, здоровый мир для будущих поколений.</p>
            </div>
            <hr>
        </section>

        <!-- Раздел Вопросы (FAQ) -->
        <section class="faq">
            <h2 class='FAQ'>FAQ</h2>
            <div class='faq_all'>
                <div class='question'>
                    <h5 class='h5 h51'>Чем занимается компания VerduraX?</h5>

                    <svg width='15' height='10' viewBox='0 0 42 25'>
                        <path d='M3 3L21 21L39 3' stroke='white' stroke-width='7' stroke-linecap='round'/>
                    </svg>

                </div>
                <div class='answer'>
                    <p>Компания VerduraX занимается продвижением возобновляемых источников энергии и поддержкой экологических инициатив. Основные направления деятельности включают:<br><br>

                           1. Информационная поддержка: создание и распространение новостей, статей и аналитических материалов о развитии зелёной энергетики и решении экологических проблем.<br><br>
                        
                        
                           2. Поддержка проектов: помощь в разработке, продвижении и финансировании инициатив, направленных на внедрение устойчивых технологий.<br><br>
                        
                        
                        
                           3. Социальная платформа: объединение людей, организаций и инвесторов, заинтересованных в создании экологически чистого будущего, через инструменты взаимодействия на сайте.<br><br>
                        
                        
                        
                        Главная цель компании — сделать экологические решения доступными для всех, способствуя переходу к устойчивому развитию.</p>
                </div>
            </div>
            <div class='faq_all'>
                <div class='question'>
                    <h5 class='h5 h51'>Как долго существует компания VerduraX?</h5>

                    <svg width='15' height='10' viewBox='0 0 42 25'>
                        <path d='M3 3L21 21L39 3' stroke='white' stroke-width='7' stroke-linecap='round'/>
                    </svg>

                </div>
                <div class='answer'>
                    <p>Компания VerduraX была основана в 2020 году группой энтузиастов, которые верят в будущее, основанное на возобновляемых источниках энергии. За это время мы успели реализовать несколько успешных проектов и наладить сотрудничество с ведущими специалистами и организациями в сфере устойчивого развития. Мы продолжаем расти и развиваться, привлекая новых партнеров и внедряя передовые технологии, которые способствуют улучшению экологической ситуации на планете.</p>
                </div>
            </div>
            <div class='faq_all'>
                <div class='question'>
                    <h5 class='h5 h51'>Где находится головной офис VerduraX?</h5>

                    <svg width='15' height='10' viewBox='0 0 42 25'>
                        <path d='M3 3L21 21L39 3' stroke='white' stroke-width='7' stroke-linecap='round'/>
                    </svg>

                </div>
                <div class='answer'>
                    <p>Головной офис компании VerduraX расположен в Москве, но мы работаем по всему миру, осуществляя проекты и сотрудничая с партнерами на международном уровне. Наша команда состоит из профессионалов различных областей, включая экологию, энергетику и инновационные технологии. Мы активно развиваем сеть контактов и сотрудничества с организациями и экспертами в области возобновляемых источников энергии, чтобы обеспечивать глобальный доступ к экологически чистым решениям.</p>
                </div>
            </div>
            <div class='faq_all'>
                <div class='question'>
                    <h5 class='h5 h51'>Как можно связаться с компанией VerduraX?</h5>

                    <svg width='15' height='10' viewBox='0 0 42 25'>
                        <path d='M3 3L21 21L39 3' stroke='white' stroke-width='7' stroke-linecap='round'/>
                    </svg>

                </div>
                <div class='answer'>
                    <p>Вы можете легко связаться с нами через контактные данные, размещенные на нашем сайте в футере. Мы предоставляем несколько способов связи, включая электронную почту для запросов на поддержку и новостей. Наша команда всегда готова ответить на ваши вопросы и предоставить всю необходимую информацию. Мы ценим обратную связь и готовы обсуждать сотрудничество, предложения и идеи по улучшению наших продуктов и услуг.</p>
                </div>
            </div>
        </section>

        <!-- Футер -->
        <footer class="footer">
            <h2 class='VERDURAX'>VerduraX</h2>
            <hr>
            <div class='footer_all'>
                <div class='other'>
                    <h4>Прочее</h4>
                    <ul>
                        <li><a href='about'>О нас</a></li>
                        <li><a href='solutions'>Решения</a></li>
                        <li><a href='news'>Новости</a></li>
                        <li><a href="/contacts">Контакты</a></li>
                    </ul>
                </div>
                <div class='support'>
                    <h4>Поддержка</h4>
                    <a href='#'>+ 7 (495) 777-33-11</a>
                    <a href='#'>news@vareduraX.com</a>
                    <a href='#'>support@verdurax.com</a>
                </div>
                <div class='orenq'>
                    <p>Пожалуйста, ознакомтьтесь с нашими 
                        <a href='#'>Условиями использования</a> и
                        <a href='#'>Политикой конфиденциальности</a></p>
                </div>
                <div class='leng'>
                    <h4>Язык/Lenguage</h4>
                    <ul>
                        <li><a href='#'>Русский</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class='bottom_footer'>
                <div class='VERDURAX2'>
                    <h4>VerduraX</h4>
                </div>
                <div class='created'>
                    <p>© 2024 Сrtated by Eric and David</p>
                </div>
                <div class='photos'>
                    <a href='#'><img src='../../static/horoscope/img/icon2.png' alt=''></a>
                </div>
            </div>
        </footer>
        <button id="scrollToTopBtn" class="fade-in-up" style="display: none;">↑</button>
    </div>
</body>
</html>