html, body {
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    width: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1663.330px;
    margin: 0;
    width: 100%;
}

.reg {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #024EA6 0%, #59A0F1 100%);
}

.reg .RorE {
    display: flex;
    width: 516px;
    height: 64px;
    flex-shrink: 0;
    position: relative;
    top: 146px;
    left: 578px;
}

.reg .RorE .R {
    width: 258px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 34px 0px 0px 34px;
    background: #3A76BC;
}

.reg .RorE .E {
    width: 258px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 0px 34px 34px 0px;
    background: #2F639F;
}

.reg .RorE hr {
    transform: rotate(90deg);
    width: 64px;
    height: 1px;
    border: none;
    background: #024EA6;
}

.reg .RorE .R a {
    overflow: hidden;
    color: #FFF;
    text-overflow: ellipsis;
    font-family: "Source Serif Pro";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 3%; /* 0.9px */
    text-underline-offset: 8%; /* 2.4px */
    text-underline-position: from-font;
    position: relative;
    top: 13px;
    left: 39px;
}

.reg .RorE .E a {
    color: #FFF;
    font-family: "Source Serif Pro";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    position: relative;
    top: 13px;
    left: 91px;
}

.reg .REG {
    width: 500px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 30px;
    background: linear-gradient(180deg, rgba(89, 160, 241, 0.50) 0%, rgba(3, 79, 167, 0.50) 100%);
    position: relative;
    top: 194px;
    left: 590px;
}

.reg .REG h2 {
    color: #FFF;
    font-family: "Source Serif Pro";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    top: 13px;
    left: 131px;
}

.inp {
    display: block;
    position: relative;
    top: 50px;
    width: 100%;
    height: 56px;
    max-width: 280px;
    border-radius: 3px;
    overflow: hidden;
    left: 108px;
}
.inp .label {
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    pointer-events: none;
    height: 35px;
}
.inp .focus-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
}
.inp input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 16px 12px 0 12px;
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    transition: all 0.15s ease;
}
.inp input:hover {
    background: rgba(0, 0, 0, 0.04);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.inp input:not(:-moz-placeholder-shown) + .label {
    color: rgba(0, 0, 0, 0.5);
    transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:not(:-ms-input-placeholder) + .label {
    color: rgba(0, 0, 0, 0.5);
    transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:not(:placeholder-shown) + .label {
    color: rgba(0, 0, 0, 0.5);
    transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:focus {
    background: rgba(0, 0, 0, 0.05);
    outline: none;
    box-shadow: inset 0 -2px 0 #74b7ff;
}
.inp input:focus + .label {
    color: #ffffffc3;
    transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:focus + .label + .focus-bg {
    transform: scaleX(1);
    transition: all 0.1s ease;
}

.r {
    top: 70px;
}

.d {
    top: 90px;
}

.g {
    top: 110px;
}

.REG button {
    color: rgba(255, 255, 255, 0.80);
    font-family: "Source Serif Pro";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 360px;
    height: 68px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 1px solid #59A0F1;
    background: rgba(217, 217, 217, 0.00);
    position: relative;
    top: 140px;
    left: 65px;
}

.REG button:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 8px #4070f4;
}

.navbar {
    display: flex;
    height: 66px;
    background-color: #014FA9;
    width: 1000%;
}

.navbar a:nth-child(1) {
    color: #FFF;
    font-family: "Source Serif Pro";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 11px;
    margin-bottom: 17px;
    margin-left: 766px;
    text-decoration: none;
}

@media (max-width: 768px) {
    .reg .RorE {
        flex-direction: column;
        top: 100px;
        left: 0;
    }

    .reg .REG {
        width: 90%;
        left: 5%;
        top: 50px;
    }

    .REG button {
        width: 100%;
        left: 0;
    }
}