<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты | VerduraX</title>
    <link rel='icon' href='../../static/horoscope/img/загруженное.png'>
    {% load static %}
    <link rel="stylesheet" href=" {% static 'horoscope/css/contacts.css' %}">
    <script src='{% static 'horoscope/js/all.js' %}'></script>
</head>
<body>
    <div class='container'>
        <!-- Шапка с навигатором -->
        <header>
            <nav class="navbar">
                <a href='/'>VerduraX</a>
                <a href="/about">О нас</a>
                <a href="/solutions">Проекты в сфере ВИЭ</a>
                <a href="/news">Новости</a>
                <a href="/contacts">Контакты</a>
            </nav>
        <div class="connect">
            <h1 class="cwu cwu-1">
                Связаться с нами
            </h1>
            <h2 class="cwu cwu-2">
                Ниже вы найдете несколько способов связаться с нами. Мы с нетерпением ждем вашего звонка.
            </h2>
            <div class="office">
                <h3 class="cwu cwu-3">
                    Наши главные офисы
                </h3>
                <div class="countries">
                    <div class="country" >
                        <h4 class="locate"> VerduraX EC </h4> 
                        <h5 class="locate2"> Офис в Германии </h5> 
                        <span> Беренштрассе, 66 </span> 
                        <span> Берлин </span> 
                        <span> +49 (30) 229-XXXX </span> 
                    </div>
                    <div class="country" >
                        <h4 class="locate"> VerduraX Россия </h4> 
                        <h5 class="locate2"> Офис в России </h5> 
                        <span> Котельная улица, 12 </span> 
                        <span> Москва </span> 
                        <span> +7 (495) 123-45-67 </span> 
                    </div>
                    <div class="country" >
                        <h4 class="locate"> VerduraX Белоруссия </h4> 
                        <h5 class="locate2"> Офис в Белоруссии </h5> 
                        <span> Улица Немига, 14 </span> 
                        <span> Минск </span> 
                        <span> +375 29 2XXX XX XX </span> 
                    </div>
                </div>
            </div>
            <div class="smi">
                <div class="smi-text">
                    <p class="smi-connect">
                        Связи со СМИ
                    </p>
                    <span> По всем вопросам для СМИ обращайтесь: </span> 
                    <span> Отдел по связям со СМИ </span>  
                    <span>+7 495 555-55-55</span>
                </div>
                <img src='../../static/horoscope/img/news_a.jpg' class='imggg'/>
            </div>
        </div>
       <!-- Футер -->
       <footer class="footer">
        <h2 class='VERDURAX'>VerduraX</h2>
        <hr>
        <div class='footer_all'>
            <div class='other'>
                <h4>Прочее</h4>
                <ul>
                    <li><a href='/about'>О нас</a></li>
                    <li><a href='/solutions'>Проекты в сфере ВИЭ</a></li>
                    <li><a href='/news'>Новости</a></li>
                    <li><a href="/contacts">Контакты</a></li>
                </ul>
            </div>
            <div class='support'>
                <h4>Поддержка</h4>
                <a href='#'>+ 7 (495) 777-33-11</a>
                <a href='#'>news@vareduraX.com</a>
                <a href='#'>support@verdurax.com</a>
            </div>
            <div class='orenq'>
                <p>Пожалуйста, ознакомтьтесь с нашими 
                    <a href='#'>Условиями использования</a> и
                    <a href='#'>Политикой конфиденциальности</a></p>
            </div>
            <div class='leng'>
                <h4>Язык/Lenguage</h4>
                <ul>
                    <li><a href='#'>Русский</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class='bottom_footer'>
            <div class='VERDURAX2'>
                <h4>VerduraX</h4>
            </div>
            <div class='created'>
                <p>© 2024 Сrtated by Eric and David</p>
            </div>
            <div class='photos'>
                <a href='#'><img src='../../static/horoscope/img/icon2.png' alt=''></a>
            </div>
        </div>
    </footer>
    </div>
    <button id="scrollToTopBtn" class="fade-in-up" style="display: none;">↑</button>
</body>
</html>
