<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация | VerduraX</title>
    <link rel='icon' href='../../static/horoscope/img/загруженное.png'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'horoscope/css/registration.css' %}">
    <script src='{% static 'horoscope/js/all.js' %}'></script>
    <script src='{% static 'horoscope/js/registration.js' %}'></script>
</head>
<body>
    <div class='container'>
        <nav class="navbar">
            <a href='/'>VerduraX</a>
        </nav>
        <div class='reg'>
            <div class='RorE'>
                <div class='R'><a href='/registration'>Регистрация</a></div>
                <hr>
                <div class='E'><a href='/login'>Вход</a></div>
            </div>
            <div class='REG'>
                <h2>Регистрация</h2>
                <form method="post" id="registration-form" onsubmit="return validatePasswords()">
                    {% csrf_token %}
                    <label class="inp">
                        {{ form.first_name }}
                        <span class="label">Имя пользователя *</span>
                        <span class="focus-bg"></span>
                    </label>
                    <label class="inp r">
                        {{ form.email }}
                        <span class="label">Email или телефон *</span>
                        <span class="focus-bg"></span>
                    </label>
                    <label class="inp d">
                        {{ form.password1 }}
                        <span class="label">Придумайте пароль *</span>
                        <span class="focus-bg"></span>
                    </label>
                    <label class="inp g">
                        <input type="password2" id="confirm-password" name="confirm-password" required>
                        <span class="label">Введите пароль повторно</span>
                        <span class="focus-bg"></span>
                    </label>
                    <button type="submit">Зарегистрироваться</button>
                </form>
                <script>
                    function validatePasswords() {
                        const password = document.querySelector('input[name="password1"]').value;
                        const confirmPassword = document.querySelector('#confirm-password').value;
                        if (password !== confirmPassword) {
                            alert('Пароли не совпадают! Пожалуйста, попробуйте снова.');
                            return false;
                        }
                        return true;
                    }
                </script>
            </div>
        </div>
    </div>
</body>
</html>