<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ваш сайт</title>
    {% load static %}
    <link rel="stylesheet" href=" {% static 'horoscope/css/index.css' %}">
</head>
<body>
    <div class='container'>
        <!-- Шапка с навигатором -->
        <header>
            <nav class="navbar">
                <a href='#'>VerduraX</a>
                <a href="#">О нас</a>
                <a href="#">Решения</a>
                <a href="#">Новости</a>
                <a href="#">Контакты</a>
                <a href="#">Регистрация</a>
                <button href="#"><p>Вход<p></button>
            </nav>
            <div class='header_h'>
                <h1>Давайте вместе строить чистую 
                    энергию для будущих поколений</h1>
                <img src='horoscope/img/img1.png' alt='Энергии' class='img_header'>
            </div>
        </header>

        <!-- Раздел Новости -->
        <section id="news">
            <h2>Новости</h2>
            <p>Здесь размещаются актуальные новости и обновления.</p>
        </section>

        <!-- Раздел Наша команда -->
        <section id="team">
            <h2>Наша команда</h2>
            <p>Краткая информация о вашей команде и её членах.</p>
        </section>

        <!-- Раздел Вопросы (FAQ) -->
        <section id="faq">
            <h2>Часто задаваемые вопросы</h2>
            <p>Ответы на вопросы, которые часто задают пользователи.</p>
        </section>

        <!-- Футер -->
        <footer id="footer">
            <h2>Контакты</h2>
            <p>Здесь можно разместить контактную информацию или другие полезные ссылки.</p>
        </footer>
    </div>
</body>
</html>